/_config.yml        export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.php_cs            export-ignore
/.scrutinizer.yml   export-ignore
/.travis.yml        export-ignore
/CNAME              export-ignore
/cs                 export-ignore
/phpunit.xml.dist   export-ignore
/tests              export-ignore
